header {
  display:flexbox;
  background: #002855;
  color:aliceblue;
  text-align: left;
  color:#8695b3;
  padding-bottom: 0px;
}
body {
  display: block;
  text-align: center;
  background-image: url("/server/img/17520.jpg");
  background-attachment:fixed;
  background-repeat:no-repeat;
  height: 100%;
  width: 100%;


  color: aliceblue;
}

#btn{
  background: none;
  border: none;
  color: #0466C8;
}

#logo{
  align-self: center;
}

#contact {
  padding:10px;
  background: #001845;
  color:#0353A4;
}

.title{
  color: #0466C8;
  display:flexbox;
  /* margin: 0pc 20pc 0pc 20pc */
  background-color: none;
}

.description{
  display:flexbox;
  /* display: none */


}

.nav-bar{
  display:inline-flexbox;
  padding: 8px;
  background: #0466C8;
  color:aliceblue;
  margin-bottom: 20px;
  border-radius: 5px;

}

.mbody{
  margin: 0% 10%;
  background-color: #002855 ;
  background-repeat: no-repeat;
  border-radius: 10px;

}



#un-con {
  display:inline-block;
  color: #0466C8;
}


