header {
  display:flexbox;
  background: #002855;
  color:aliceblue;
  text-align: left;
  color:#8695b3;
  padding-bottom: 0px;
}
.benefits{
  display:contents;
  color:#0466C8
}

body {
  display: block;
  text-align: center;
  background-image: url("/server/img/17520.jpg");
  background-attachment:fixed;
  background-repeat:no-repeat;
  height: 100%;
  width: 100%;


  color: aliceblue;
}

.drop__button{
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #013066;
  text-align:center;
  color: #0466C8;
  transition: 1.5s
}
.active, .drop__button:hover {
  background-color:rgba(0, 66, 173, 0.637);
}
.drop__button::after, .active{
  overflow:visible
}



.drop__content{

  padding: 0 15px;
  background: #002855;
  transition: max-height 0.2s ease-in-out;;
  max-height: 0;

  overflow:hidden;


}


#logo{
  align-self: center;
  float:right;
  transform: scale(1.5);
}

@media (max-width: 700px ) {
  #quantum{
    width: 50%
  }
}

#contact {
  padding:10px;
  background: #001845;
  color:#0353A4;
}

.title{
  color: #0466C8;
  display:flexbox;
  /* margin: 0pc 20pc 0pc 20pc */
  background-color: none;
}

.nav-bar{
  display:inline-flexbox;
  padding: 20px;
  background: #0466C8;
  color:aliceblue;
  margin-bottom: 20px;


  text-decoration: none;

}
.active, .nav-bar:hover{
  background-color:rgba(0, 66, 173, 0.637);

}
.navbar{
  display:inline-flex;
  flex-direction: row;
  float:center

}

.mbody{
  margin: 0% 10%;
  background-color: #002855 ;
  background-repeat: no-repeat;
  border-radius: 10px;

}



#un-con {
  display:inline-block;
  color: #0466C8;
}

.topnav{
  display:flexbox;
  float:center;

}
.lastUpdated{

  position: relative;
  bottom: 10px
}

